{% extends 'base.html.twig' %}
{% block body %}
<div class="container page-section" style="min-height: 80vh;">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom & Prénom</th>
                <th>Email</th>
                <th>Nationalité</th>
                <th>Ville</th>
                <th>Numero de téléphone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for assertion in assertions %}
            <tr>
                <td>{{ assertion.id }}</td>
                <td>{{ assertion.familyName }} {{ assertion.firstName }}</td>
                <td>{{ assertion.email }}</td>
                <td>{{ assertion.nationality }}</td>
                <td>{{ assertion.city }}</td>
                <td>{{ assertion.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_assertion_show', {'id': assertion.id}) }}">Afficher</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="25">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}